<html>
    <body>
        <p>Guten Tag,</p>
        <p>
            Wenn sie ihre Anmeldung bearbeiten wollen k&ouml;nnen sie dies immer unter folgendem Link erledigen: <a href="">Amneldung Bearbeiten</a>
        </p>
        <p>
            Mit freundlichen Gr&uuml;ssen<br />
            Ihr Kinderfest Team

        </p>
    </body>
</html>