<html>
    <body>
        <p>Guten Tag,</p>
        <p>
            Das hat geklappt! Du bist angemeldet für das Kinderfest am 28. August 2021! Dein Startpunkt ist bei der {{ start_punkt }} um {{ start_zeit }} Uhr! Nicht vergessen du musst 5 Minuten vorher dort sein! Ich freue mich auf Dich! 
        </p>
        <p>
            Wenn du dein Anmeldung bearbeiten willst, kannst du dies immer unter folgendem Link erledigen: <a href="{{ url('register-edit',{uuid: uuid}) }}">Anmeldung Bearbeiten</a>
        </p>
        <p>
            Dein Jürgen Waschb&auml;r
        </p>
    </body>
</html>